@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./assets/styles/theme.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

body {
  place-items: center;
  min-height: 100%;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 2px;
  padding: 0.5rem 1rem;
}

a {
  font-weight: 500;
  color: var(--text-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--hover);
  cursor: pointer;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

.animate-marquee {
  animation: marquee 8s linear infinite;
}

.animate-marquee > div {
  flex-shrink: 0;
}
