@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-150%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee > div {
  flex-shrink: 0;
}
