:root {
  --bg-app: rgba(3, 11, 21, 1);
  --bg-layer-1: rgba(25, 27, 29, 1);
  --bg-layer-2: rgba(32, 34, 36, 1);
  --bg-layer-3: rgba(38, 44, 44, 1);
  --bg-button-primary: rgba(57, 151, 156, 1);
  --bg-button-secondary: rgba(245, 166, 35, 1);
  --bg-tooltip: rgba(57, 151, 156, 0.8);
  /* text colors */
  --text-app: rgba(250, 250, 250, 1);
  --text-primary: rgba(209, 213, 219, 1);
  --text-secondary: rgba(57, 151, 156, 1);
  /* hover */
  --hover: rgba(57, 151, 156, 1);
}

[data-theme="light"] {
  --bg-app: rgb(243, 220, 191);
  --bg-layer-1: rgba(25, 27, 29, 1);
  --bg-layer-2: rgba(32, 34, 36, 1);
  --bg-layer-3: rgba(42, 44, 46, 1);
  --bg-button-primary: rgba(57, 151, 156, 1);
  --bg-button-secondary: rgba(245, 166, 35, 1);
  --bg-tooltip: rgba(57, 151, 156, 0.5);
  /* text colors */
  --text-app: rgba(250, 250, 250, 1);
  --text-primary: rgba(209, 213, 219, 1);
  --text-secondary: rgba(57, 151, 156, 1);
  /* hover */
  --hover: rgba(57, 151, 156, 1);
}
